
.flex.hero {
	background-color: $color-black;
	display: block;
	color: $color-white;
	overflow: hidden;
	padding: 10rem 0;
	position: relative;
}

.flex.hero h1 {
	color: $color-white;
	text-align: center;
}

.flex.hero g-container {
	position: relative;
	z-index: 1;
}

.flex.hero figure {
	opacity: 0.33;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}