
.cmplz-service-header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}

.cmplz-service-header > div {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
}
.cmplz-service-header h3 { cursor: pointer; }

details[open] .cmplz-service-header h3 { color: $color-teal-1 }

.cmplz-service-header h3 + p {
	font-size: 0.938rem;
	font-weight: 600;
	margin-top: -0.25rem;
	opacity: 0.5;
	text-transform: uppercase;
}

details.cmplz-dropdown {
	display: block;
	position: relative;
}

@media (max-width: 479px)  { details.cmplz-dropdown h3 { font-size: 1.375rem; }}
@media (min-width: 480px)  { details.cmplz-dropdown h3 { font-size: calc(1.375rem + ((1vw - 0.3rem) * 0.6557)); }}
@media (min-width: 1701px) { details.cmplz-dropdown h3 { font-size: 1.875rem; }}

details.cmplz-dropdown ~ details.cmplz-dropdown { margin-top: 2.25rem; }

details.cmplz-dropdown > div {
	display: block;
	padding: 1.5rem 0 0 1.875rem;
	position: relative;
}

details.cmplz-dropdown > summary + div { padding-top: 0; margin-top: 1.5rem; }

details.cmplz-dropdown > div:before {
	background-color: $color-teal-2;
	border-radius: 0.125rem;
	content: "";
	position: absolute;
	top: -0.25rem; left: 0; bottom: -0.25rem;
	width: 0.25rem;
}

@media (max-width: 479px)  { details.cmplz-dropdown > div h4 { font-size: 1.25rem; }}
@media (min-width: 480px)  { details.cmplz-dropdown > div h4 { font-size: calc(1.25rem + ((1vw - 0.3rem) * 0.4098)); }}
@media (min-width: 1701px) { details.cmplz-dropdown > div h4 { font-size: 1.5625rem; }}

details.cmplz-dropdown p:empty { display: none; }

details.cmplz-dropdown div[class*="header"] h5 { font-size: 1rem; font-weight: 700; line-height: 200%; }

details.cmplz-dropdown div[class*="header"] h5 + p { margin-top: 0.375rem; }

details.cmplz-dropdown a { font-weight: 400 !important; }

.cookies-per-purpose { display: table !important; }

.cookies-per-purpose > div { float: left; }

.cookies-per-purpose .purpose { margin-bottom: 0.75rem; }
.cookies-per-purpose > div:not(.purpose), { line-height: 200%; }

details.cmplz-dropdown div[class*="header"] { clear: left; padding-right: 0.375rem;  }

.cmplz-categories { margin-top: 1.5rem; }

.cmplz-categories summary {
	display:  block;
}

.cmplz-categories .cmplz-category-title {
	display: block;
	font-weight: bold;
	margin-bottom: 0.25rem;
}

.cmplz-category ~ .cmplz-category { margin-top: 0.75rem; }

.cmplz-category * { user-select: none; }

.cmplz-category input { height: 1rem; width: 1rem; }

.cmplz-categories .cmplz-description {
	font-size: 0.875rem;
	line-height: 150%;
	margin-top: 0.5rem;
	padding: 0 0 1.5rem 1.5rem !important;
}

.cmplz-categories svg {
	position: relative;
	top: 1px;
	transform: rotate(0deg);
}

.cmplz-category[open] svg {
	transform: rotate(180deg);
	top: 4px;
}

.cmplz-banner-checkbox { font-size: 1.25rem; }