/************************* FOOTER CSS *************************/

footer {
	background-color: $color-black;
	display: block;
	color: $color-white;
	overflow: hidden;
	position: relative;
}

@media (max-width: 479px)  { footer { padding: 4rem 0 2rem 0; }}
@media (min-width: 480px)  { footer { padding: calc(4rem + ((1vw - 0.3rem) * 3.2787)) 0 calc(2rem + ((1vw - 0.3rem) * 1.6393)) 0; }}
@media (min-width: 1701px) { footer { padding: 6.5rem 0 3.25rem 0; }}


/** TOP ROW **/

footer g-row:first-child g-col { width: 33.333%; }
footer g-row:first-child g-col:first-child + g-col { width: 23.125rem; }
footer g-row:first-child g-col:last-child { width: 21rem; }

@media (min-width: 681px) and (max-width: 1099px) {
	footer g-row:first-child g-col { width: calc(100% - 23.125rem) !important; }
	footer g-row:first-child g-col:nth-child(even) { width: 23.125rem !important; }
	footer g-row:first-child g-col:last-child { margin-top: calc(4rem + ((1vw - 0.3rem) * 5.2459)); }
}

@media (max-width: 680px) {
	footer g-row:first-child g-col { width: 100% !important; }
	footer g-row:first-child g-col + g-col { margin-top: calc(4rem + ((1vw - 0.3rem) * 5.2459)); }
}

@media (max-width: 479px) { footer g-row:first-child g-col + g-col { margin-top: 4rem; }}


/** TITLES **/

footer g-col > strong { color: $color-white !important; display: block; }

@media (max-width: 479px) {
	footer g-col > strong { text-align: center; }
}


/** MENU **/

footer nav {
	display: block;
}

@media (max-width: 479px)  { footer nav { margin-top: 1.75rem; }}
@media (min-width: 480px)  { footer nav { margin-top: calc(1.75rem + ((1vw - 0.3rem) * 2.6230)); }}
@media (min-width: 1701px) { footer nav { margin-top: 3.75rem; }}

footer ul {
	display: block;
	list-style-type: none;
	margin: 1.5rem 0 0 0;
	padding: 0;
	width: 100%;
}

footer li { display: block; }

footer li + li { margin-top: 0.75rem; }

footer a:hover { text-decoration: underline; }

@media (max-width: 479px) {
	footer ul { font-size: 1rem; }
	footer li { text-align: center; }
	footer li + li { margin-top: 0.75rem; }
}

/** SOCIAL **/

footer nav.social ul {
	display: flex;
	flex-wrap: wrap;
	margin-top: -0.625rem;
	width: 100%;
}

footer nav.social ul li { margin: 0.625rem 0.625rem 0 0; }

footer nav.social a {
	align-items: center;
	background-color: $color-white;
	border-radius: 100%;
	display: flex;
	flex-wrap: wrap;
	height: 3.5rem;
	justify-content: center;
	transition: background-color 175ms ease;
	width: 3.5rem;
}

footer nav.social a:hover {
	background-color: $color-red;
}

footer nav.social a svg {
	fill: $color-black;
	display: block;
	height: 1.75rem;
	transition: fill 175ms ease;
	width: 1.75rem;
}

footer nav.social a:hover svg {
	fill: $color-white;
}

footer nav.social a span { position: absolute; height: 0; width: 0; visibility: hidden; }

@media (max-width: 479px) {
	footer nav.social ul { justify-content: center; }
	footer nav.social ul li { margin: 0.625rem 0.375rem 0 0.375rem; }
}

@media (max-width: 389px) {
	footer nav.social a { height: 2.75rem; width: 2.75rem; }
	footer nav.social a svg { height: 1.125rem; width: 1.125rem; }
}

/** BOTTOM ROW **/

footer g-row:last-child {
	align-items: center;
	flex-wrap: nowrap;
	justify-content: space-between;
}

@media (max-width: 479px) { footer g-row:last-child { margin-top: 4rem; }}
@media (min-width: 480px) { footer g-row:last-child { margin-top: calc(4rem + ((1vw - 0.3rem) * 2.6230)); }}
@media (min-width: 1701px) { footer g-row:last-child { margin-top: 6rem; }}



/** COPYRIGHT **/

footer .copyright { display: block; }

@media (max-width: 680px) {
	footer .copyright { margin-bottom: 2.5rem; }
}

@media (max-width: 479px) {
	footer .copyright { font-size: 1rem; text-align: center; }
}

/** FUNDED BY **/

footer g-row:last-child g-col:last-child {
	text-align: right;
	width: 21rem;
}

footer g-row:last-child g-col:last-child img {
	height: auto !important;
	margin: 0 0 0 auto;
	width: 18.5rem !important;
}

@media (max-width: 680px) {
	footer g-row:last-child { flex-wrap: wrap; justify-content: flex-start; }
	footer g-row:last-child g-col { width: 100% !important; }
	footer g-row:last-child g-col:last-child img { margin: 0; }
}

@media (max-width: 479px) {
	footer g-row:last-child g-col:last-child { text-align: center;}
}
