form-wrap form {
	display: block;
	margin: 0 auto;
	max-width: 32.5rem;
}

form-wrap form input[type="text"],
form-wrap form input[type="tel"],
form-wrap form input[type="email"],
form-wrap form input[type="number"],
form-wrap form input[type="url"],
form-wrap form input[type="date"] {
	background: $color-white;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 0.25rem;
	box-sizing: border-box;
	display: block;
	color: $color-black;
	line-height: 1rem;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-weight: normal;
	font-size: 1.125rem;
	font-style: normal;
	margin-top: 0.375rem;
	padding: 1.313rem 1.5rem 0.938rem 1.5rem;
	width: 100%;
}

form-wrap form select {
	background: $color-white;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 0.25rem;
	box-sizing: border-box;
	display: block;
	color: $color-black;
	line-height: 120%;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-weight: normal;
	font-size: 1.125rem;
	font-style: normal;
	padding: 1.438rem 1.5rem;
	width: 100%;
}

form-wrap form textarea {
	background: $color-white;
	border: 1px solid rgba(0,0,0,0.15);
	border-radius: 0.25rem;
	box-sizing: border-box;
	display: block;
	color: $color-black;
	line-height: 120%;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-weight: normal;
	font-size: 1.125rem;
	font-style: normal;
	min-height: 24.25rem;
	padding: 1.438rem 1.5rem;
	resize: vertical;
	width: 100%;
}

form-wrap form select option { color: $color-black; }

form-wrap form ::placeholder { color: rgba(0,0,0,0.5); }

.wpcf7-form-control-wrap { margin-top: 0.375rem; display: block; }
.wpcf7-list-item { display: block; padding: 0.375rem 0; margin: 0; }
.wpcf7-list-item input { display: none; }
.wpcf7-list-item .wpcf7-list-item-label {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	line-height: 1rem;
	min-height: 2rem;
	padding-left: 2.5rem;
	position: relative;
}

.wpcf7-list-item .wpcf7-list-item-label:before {
	background-color: $color-white;
	border-radius: 0.25rem;
	border: 1px solid rgba(0,0,0,0.15);
	box-sizing: border-box;
	content: "";
	height: 2rem;
	left: 0;
	position: absolute;
	top: calc(50% - 1.125rem);
	width: 2rem;
}

.wpcf7-list-item .wpcf7-list-item-label:after {
	background-color: $color-red;
	border-radius: 0.25rem;
	content: "";
	height: 1.25rem;
	left: 0.375rem;
	opacity: 0;
	position: absolute;
	top: calc(50% - 0.75rem);
	width: 1.25rem;
}

.wpcf7-list-item input:not(:checked) + .wpcf7-list-item-label:hover:after { opacity: 0.2; filter: grayscale(100%); }

.wpcf7-list-item input:checked + .wpcf7-list-item-label:after { opacity: 1; }

.wpcf7-list-item input[type="radio"] + .wpcf7-list-item-label:before,
.wpcf7-list-item input[type="radio"] + .wpcf7-list-item-label:after { border-radius: 100%; }


form-wrap form .wpcf7-response-output {
	border: 0 !important;
	border-radius: 0.25rem;
	box-sizing: border-box;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-weight: normal;
	font-size: 1.125rem;
	font-style: normal;
	margin: 1.75rem 0 0 0 !important;
	padding: 1rem 1.5rem !important;
	width: 100%;
}

form-wrap form .wpcf7-response-output {
	background-color: $color-red;
	color: $color-white;
}

form.invalid .wpcf7-response-output {
	background-color: $color-red !important;
	color: $color-white !important;
}

form.sent .wpcf7-response-output {
	background-color: #27AE60 !important;
	color: $color-white !important;
}

.wpcf7-not-valid-tip {
	color: $color-red;
	display: block;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-weight: normal;
	font-size: 0.938rem;
	font-style: bold;
	margin-top: 0.25rem;
	text-align: left;
}

.wpcf7 .ajax-loader { display: none; }

form-field { display: block; }
form-field + form-field { margin-top: 1rem; }

form-wrap form br { display: none; }

form input[type="text"].wpcf7-not-valid,
form input[type="tel"].wpcf7-not-valid,
form input[type="email"].wpcf7-not-valid,
form input[type="number"].wpcf7-not-valid,
form input[type="url"].wpcf7-not-valid,
form input[type="date"].wpcf7-not-valid,
form select.wpcf7-not-valid,
form textarea.wpcf7-not-valid {
	box-shadow:inset 0 0 0 3px $color-red;
	color: $color-red;
}

form-wrap form field-wrap {
	display: block;
	position: relative;
}

form-wrap form field-wrap ~ field-wrap {
	margin-top: 1rem;
}

form-wrap form .wpcf7-not-valid::placeholder { color: $color-red; }

form-wrap form label {
	color: $color-black;
	display: block;
	font-size: 1.125rem;
	font-weight: normal;
}

form-wrap form input[type="submit"] {
	background: $color-red;
	border: 0;
	border-radius: 0;
	color: $color-white;
	cursor: pointer;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-weight: normal;
	font-size: 1.125rem;
	font-style: normal;
	margin: 1rem 0 0 0;
	padding: 1.563rem;
	transition: background 175ms ease, border 175ms ease, color 175ms ease;
	width: 100%;
	-webkit-appearance: none;
}


form-wrap form input[type="submit"]:hover {
	background: $color-black;
	color: $color-white !important;
}

.wpcf7-spinner { display: none !important; }