/************************* HEADER CSS *************************/

header {
	background-color: $color-black;
	box-sizing: border-box;
	box-shadow: 0 0 16px 0 rgba(0,0,0,0);
	padding: 1rem 2.5rem;
	position: fixed;
	pointer-events: none;
	top: 0; left: 0;
	transition: background-color 175ms ease, padding 175ms ease;
	width: 100%;
	z-index: 10;
}

body.disable-nav header nav,
body.disable-nav header ul { display: none; }
body.disable-nav header { position: absolute; }

header-inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 auto;
	width: 100%;
}

header nav {
	display: block;
	margin: 0 auto 0 0;
}

header ul {
	align-items: flex-end;
	display: flex;
	flex-wrap: nowrap;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

header li { display: block; }
header li:not(:last-child) a { padding-right: calc(1.625rem + 1.625vw); }

header a {
	color: $color-white;
	display: block;
	font-size: 1.25rem;
	line-height: 100%;
	padding: 1rem 0;
	pointer-events: all;
	transition: color 175ms ease;
}

header a:hover { color: $color-red; }

@media (max-width:480px) {
	header { padding: 1.5rem 1.25rem; }
	header active-state { bottom: 0.5rem; }
}

a.logo {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	padding: 0 calc(1.625rem + 1.625vw) 0 0;
}

a.logo,
a.logo > svg {
	width: auto;
}

a.logo > svg * { transition: fill 175ms ease; }

a.logo:not(:hover) > svg * { fill: $color-white !important; }

a.logo:hover svg > * { fill: $color-red !important; }

@media (max-width:480px) {

	.home a.logo:not(:hover) > svg * { fill: $color-black !important; }

	header { position: absolute; }

	header .lang,
	header nav { display: none; }
}