/************************* PAGINATION CSS *************************/

nav.pagination {
	display: block;
	position: relative;
	width: 100%;
	z-index: 3;
}

nav.pagination h2 { display: none; }

@media (max-width: 479px)  { nav.pagination { padding-top: 2.5rem; }}
@media (min-width: 480px)  { nav.pagination { padding-top: calc(2.5rem + ((1vw - 0.3rem) * 3.2787)); }}
@media (min-width: 1701px) { nav.pagination { padding-top: 5rem; }}

nav.pagination ul {
	align-items: center;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}

nav.pagination ul > span,
nav.pagination ul > a { display: block; }

nav.pagination ul > li { display: block; }

nav.pagination ul > li + li { margin-left: 0.375rem; }

nav.pagination a,
nav.pagination span {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	font-weight: 600;
	font-style: normal;
	height: 2.5rem;
	line-height: 2.75rem;
	justify-content: center;
	padding: 0;
	position: relative;
	transition: color 125ms ease;
	text-align: center;
	width: 2.5rem;
}

nav.pagination .dots { opacity: 0.5; }

nav.pagination a {
	background-color: transparent;
	transition: box-shadow 125ms ease, color 125ms ease;
}

nav.pagination a:hover,
nav.pagination a:focus { background-color: $color-red !important; color: $color-white !important; }
nav.pagination span.current { background: $color-black; color: $color-white; }

.dark span.current { background: $color-white !important; color: $color-black !important; }