/*************** SCROLLBAR BASE CSS ***************/
 
.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
 
 
 
/*************** SIMPLE INNER SCROLLBAR ***************/
 
.scroll-wrapper > .scroll-element,
.scroll-wrapper > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 2;
}
 
.scroll-wrapper > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scroll-wrapper > .scroll-element.scroll-x {
    bottom: 0;
    height: 1rem;
    left: 0;
    width: 100%;
}
 
.scroll-wrapper > .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 8px;
}
 
/*.scroll-wrapper > .scroll-element .scroll-element_outer {
    overflow: hidden;
}*/
 
.scroll-wrapper > .scroll-element .scroll-element_outer,
.scroll-wrapper > .scroll-element .scroll-element_track,
.scroll-wrapper > .scroll-element .scroll-bar {
    border-radius: 1px;
}
 
.scroll-wrapper > .scroll-element .scroll-element_track,
.scroll-wrapper > .scroll-element .scroll-bar {
    opacity: 0.25;
    transition: opacity 250ms ease, background-color 250ms ease;
}
 
.scroll-element_outer { border-radius: 0.35rem !important; overflow: hidden; }

.scroll-wrapper > .scroll-element .scroll-element_track { background-color: rgba(255,255,255,0.25); }
.scroll-wrapper > .scroll-element .scroll-bar { background-color: $color-white; border-radius: 0.35rem !important; }

.light .scroll-wrapper > .scroll-element .scroll-element_track { background-color: rgba(126,126,126,0.25); }
.light .scroll-wrapper > .scroll-element .scroll-bar { background-color: $color-black; border-radius: 0.35rem !important; }

.scroll-wrapper > .scroll-element:hover .scroll-bar { opacity: 1; cursor: ns-resize; }
.scroll-wrapper > .scroll-element.scroll-draggable .scroll-bar { background-color: $color-red; opacity: 1; }
 
.scroll-wrapper > .scroll-element .scroll-bar:before {
	content: "";
	position: absolute;
	top: -0.5rem; right: 0; bottom: -0.5rem; left: 0;
}
 
/* update scrollbar offset if both scrolls are visible */

.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
 
 
.scroll-wrapper > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scroll-wrapper > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

