/************************ VIDEO EMBED ************************/

embed-object {
	background: $color-black;
	border-radius: 0.25rem;
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
}

embed-inner {
	display: block;
	height: 0;
	max-width: 100%;
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
}

embed-inner iframe,
embed-inner object,
embed-inner embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	transition: opacity 400ms ease 50ms;
	height: 100%;
}



/*** CUSTOM PLAY BUTTON ***/

.plyr__control:hover { background-color: $color-red !important; }

.plyr__control--overlaid[data-plyr="play"] {
	background: rgba(0, 0, 0, 0.25);
	border: 2px solid $color-white;
	box-sizing: border-box;
	opacity: 1;
	height: 6.25rem;
	transition: background-color 250ms ease, border 250ms ease;
	width: 6.25rem;
	z-index: 3;
}

.plyr__control--overlaid[data-plyr="play"]:hover {
	background: $color-red !important;
	border: 2px solid $color-red !important;
}

.plyr__control--overlaid[data-plyr="play"] svg {
	fill: $color-white;
	margin: 0 auto;
	height: 2.5rem;;
	width: 2.5rem;
}

.plyr__control--overlaid[data-plyr="play"]:hover svg { fill: $color-white; }

.plyr__controls { transition: opacity 1s ease; }
.plyr--playing .plyr__controls,
.plyr--paused .plyr__controls { opacity: 1; }
.plyr--stopped .plyr__controls { opacity: 0; }



.plyr--full-ui .poster {
	opacity: 1;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	transition: opacity 500ms ease;
	z-index: 2;
}

.plyr--full-ui .poster:before {
	background-color: rgba(0,0,0,0.25);
	content: "";
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	z-index: 1;
}

.plyr--playing .poster {
	opacity: 0 !important;
}