/************************ ERROR 404 PAGE ************************/

body.error404 {
	background-color: $color-white;
}

body.error404:before {
	background-image: url('assets/img/404.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	content: "";
	opacity: 0.33;
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
}

.error-404 {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	min-height: 100vh;
	min-width: 320px;
	overflow: hidden;
	padding: 4rem;
	position: relative;
	width: 100%;
}

@media (max-width: 479px) {
	.error-404 { padding: 2rem; }
}

.admin-bar .error-404 { min-height: calc(100vh - 2rem); }

.error-404 g-col {
	text-align: center;
}

.error-404 img {
	margin: 0 auto;
	width: 10rem;
}

.error-404 h1,
.error-404 p {
	color: $color-black;
}

.error-404 a {
	margin: 2.5rem auto 0 auto;
}

.is-ie .error-404 {
	height: auto;
	min-height: 0;
}