/************************* COLOUR PALLETTE VARS *************************/

$color-white: #FFF;
$color-grey: #BBB;
$color-black: #000;
$color-red: #E00;


/************************* GLOBAL CSS *************************/

* {outline: 0;}

body {
	background-color: $color-white;
	box-sizing: border-box;
	color: $color-black;
	display: block;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	min-width: 320px;
	position: relative;
	width: 100%;
	-webkit-font-smoothing: antialiased !important;
	-moz-osx-font-smoothing: grayscale !important;
}

a, i, button, label {
	color: inherit;
	outline: none !important;
	text-decoration: none;
}

html.no-scroll,
html.no-scroll body { overflow: hidden !important; }

/************************* IMAGERY *************************/

img {
	border: 0;
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

figure,
picture {
	display: block;
	margin: 0;
	overflow: hidden;
	position: relative;
}

figure:not(.uncropped):not(.wp-caption) img {
	height: calc(100% + 2px) !important;
	width: calc(100% + 2px) !important;
	image-rendering: auto;
	opacity: 1;
	object-position: center;
	object-fit: cover;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate3d(-50%,-50%,0);
}

figure.uncropped img {
	display: block;
	height: auto !important;
	width: 100%;
}

.wp-caption {
	width: 100% !important;
}

.wp-caption img {
	display: block;
	height: auto !important;
	width: 100%;
}

figure.fallback {
	background-size: cover !important;
	background-position: center !important;
}

figure.fallback img {
	display: none !important;
}

figure figcaption {
	color: $color-black;
	display: block;
	font-size: 0.813rem;
	line-height: 160%;
	margin-top: 1rem;
}
