/************************* BUTTON STYLING *************************/

/** BASE **/

.btn {
	box-sizing: border-box;
	cursor: pointer;
	display: table;
	line-height: 100%;
	padding: 1.375rem calc(2.5rem + 1.5vw);
	position: relative;
}

@media (max-width:480px) {
	.btn { padding: 1.375rem 2.5rem; }
}

.btn + .btn { margin-top: 1.5rem; }


/** ROUNDED **/

.btn.rounded { border-radius: 4rem; }


/** BORDER STYLE **/

.btn.border {
	background: transparent;
	border: 1px solid;
	transition: background 175ms ease, border 175ms ease, color 175ms ease;
}

.btn.border.white { border-color: $color-white; color: $color-white; }
.btn.border.black { border-color: $color-black; color: $color-black; }
.btn.border.red   { border-color: $color-red; 	color: $color-red; }

@media (min-width:481px) {

	.btn.border.toWhite:hover { border-color: $color-white; color: $color-white; }
	.btn.border.toBlack:hover { border-color: $color-black; color: $color-black; }
	.btn.border.toRed:hover   { border-color: $color-red; 	color: $color-red; }

	.btn.border.toFillWhite:hover { background-color: $color-white; border-color: $color-white; color: $color-black; }
	.btn.border.toFillBlack:hover { background-color: $color-black; border-color: $color-black; color: $color-white; }
	.btn.border.toFillRed:hover   { background-color: $color-red; 	border-color: $color-red; 	color: $color-white; }

}


/** FILL STYLE **/

.btn.fill {
	border: 0;
	padding: 1.375rem  calc(2rem + 2.5vw);
	transition: background 175ms ease, color 175ms ease;
}

.btn.fill.white { background-color: $color-white; color: $color-black; }
.btn.fill.black { background-color: $color-black; color: $color-white; }
.btn.fill.red   { background-color: $color-red;   color: $color-white; }

@media (min-width:481px) {

	.btn.fill.toWhite:hover { background-color: $color-white; color: $color-black; }
	.btn.fill.toBlack:hover { background-color: $color-black; color: $color-white; }
	.btn.fill.toRed:hover   { background-color: $color-red;   color: $color-white; }

}
