/************************* BASIC GRID *************************/

@charset "utf-8";

g-container,
g-row,
g-col {
	box-sizing: border-box;
}

g-container {
	display: block;
	margin: 0 auto;
	max-width: 80rem;
	padding: 0 0.75rem;
	width: 100%;
}

g-row {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

g-col {
	background-clip: padding-box !important;
	box-sizing: border-box;
	display: block;
	padding: 0 0.75rem;
	position: relative;
	width: 100%;
}

g-container img {
	box-sizing: border-box;
	display: block;
	height: auto !important;
	width: 100%;
}

@media (max-width:480px) {
	g-container,
	g-col { padding: 0 0.625rem; }
}

/** COLSPAN REFERENCE

.col-0 { display: none!important }
.col-1 { width: 8.333333333333333% }
.col-2 { width: 16.66666666666667% }
.col-3 { width: 25% }
.col-4 { width: 33.33333333333333% }
.col-5 { width: 41.66666666666667% }
.col-6 { width: 50% }
.col-7 { width: 58.33333333333333% }
.col-8 { width: 66.66666666666666% }
.col-9 { width: 75% }
.col-10 { width: 83.33333333333333% }
.col-11 { width: 91.66666666666666% }
.col-12 { width: 100% }

**/

/** BREAKPOINT REFERENCE **/
/*
@media (min-width:1201px) {

}

@media (min-width:801px) and (max-width:1200px) {

}

@media (min-width:481px) and (max-width:800px) {

}

@media (max-width:480px) {

}
*/