/************************* GENERAL SECTION STYLING *************************/

main {
	display: block;
	padding: 0;
	overflow: hidden;
	position: relative;
}

section.flex {
	box-sizing: border-box;
	display: block;
	padding: 0;
	position: relative;
	width: 100%;
}

@media (max-width: 479px) { section.flex:not(.np)  { padding: 2.5rem 0; }}
@media (min-width: 480px) { section.flex:not(.np)  { padding: calc(2.5rem + ((1vw - 0.3rem) * 6.5574)) 0; }}
@media (min-width: 1701px) { section.flex:not(.np) { padding: 7.5rem 0; }}

section.flex:not(.has-background):not(.np) + section.flex:not(.has-background) { padding-top: 0 !important; }