/************************ COMMON TYPOGRAPHY ************************/

/********** HEADINGS **********/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: $color-black;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-weight: normal;
	font-style: normal;
	margin: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 { line-height: 105%; }

/***** SPACING BEFORE IN GENERAL USAGE *****/

* + h1,
* + h2,
* + h3,
* + h4,
* + h5,
* + h6 { margin-top: 4.5rem; }

/***** SPACING BEFORE IN WYSIWYG CONTENT *****/

.wysiwyg h1 + *,
.wysiwyg h2 + *,
.wysiwyg h3 + *,
.wysiwyg h4 + *,
.wysiwyg h5 + *,
.wysiwyg h6 + * { margin-top: 1.5rem; }


/** H1 **/

@media (max-width: 479px)  { h1, .h1 { font-size: 3.125rem; }}
@media (min-width: 480px)  { h1, .h1 { font-size: calc(3.125rem + ((1vw - 0.3rem) * 3.2787)); }}
@media (min-width: 1701px) { h1, .h1 { font-size: 5.625rem; }}

/** H2 **/

@media (max-width: 479px)  { h2, .h2 { font-size: 2.375rem; }}
@media (min-width: 480px)  { h2, .h2 { font-size: calc(2.375rem + ((1vw - 0.3rem) * 1.8033)); }}
@media (min-width: 1701px) { h2, .h2 { font-size: 3.75rem; }}

/** H3 **/

@media (max-width: 479px)  { h3, .h3 { font-size: 2rem; }}
@media (min-width: 480px)  { h3, .h3 { font-size: calc(2rem + ((1vw - 0.3rem) * 1.3115)); }}
@media (min-width: 1701px) { h3, .h3 { font-size: 3rem; }}

/** H4 **/

@media (max-width: 479px)  { h4, .h4 { font-size: 1.75rem; }}
@media (min-width: 480px)  { h4, .h4 { font-size: calc(1.75rem + ((1vw - 0.3rem) * 0.9836)); }}
@media (min-width: 1701px) { h4, .h4 { font-size: 2.5rem; }}

/** H5 **/

@media (max-width: 479px)  { h5, .h5 { font-size: 1.5rem; }}
@media (min-width: 480px)  { h5, .h5 { font-size: calc(1.5rem + ((1vw - 0.3rem) * 0.6557)); }}
@media (min-width: 1701px) { h5, .h5 { font-size: 2rem; }}

/** H6 **/

@media (max-width: 479px)  { h6, .h6 { font-size: 1.25rem; }}
@media (min-width: 480px)  { h6, .h6 { font-size: calc(1.25rem + ((1vw - 0.3rem) * 0.3279)); }}
@media (min-width: 1701px) { h6, .h6 { font-size: 1.5rem; }}

/** HEADLINE **/

.headline { line-height: 100%; }
/*@media (max-width: 479px)  { .headline { font-size: 4.5rem; }}*/
@media (min-width: 480px)  { .headline { font-size: calc(4.5rem + ((1vw - 0.3rem) * 4.5902)); }}
@media (min-width: 1701px) { .headline { font-size: 8rem; }}


/********** LONGFORM **********/

p, ul, ol {
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-size: 1rem;
	font-style: normal;
	font-weight: normal;
	line-height: 150%;
	margin: 1.5rem 0 0 0;
}


p strong,
ul strong,
ol strong { font-weight: bold; }

p:first-child,
ul:first-child,
ol:first-child {
	margin-top: 0;
}


/********** LINKS **********/

.wysiwyg * a:not(.btn) {
	color: $color-black;
	font-weight: normal;
	text-decoration: underline;
	text-decoration-color: $color-red;
}

.wysiwyg * a:not(.btn):hover {
	color: $color-red;
	text-decoration: underline;
}


/********** BLOCKQUOTE **********/

.wysiwyg blockquote {
	display: table;
	padding: 0 2ch;
	position: relative;
}

@media (max-width: 479px)  { .wysiwyg blockquote { margin: 2.5rem 0; }}
@media (min-width: 480px)  { .wysiwyg blockquote { margin: calc(2.5rem + ((1vw - 0.3rem) * 1.9672)) 0; }}
@media (min-width: 1701px) { .wysiwyg blockquote { margin: 4rem 0; }}

.wysiwyg blockquote:first-child { margin-top: 0 !important; }
.wysiwyg blockquote:last-child { margin-bottom: 0 !important; }

.wysiwyg blockquote p,
.wysiwyg blockquote ul,
.wysiwyg blockquote ol {
	color: $color-black;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-weight: 300;
}

@media (max-width: 479px)  { .wysiwyg blockquote p, .wysiwyg blockquote ul, .wysiwyg blockquote ol { font-size: 1.375rem; }}
@media (min-width: 480px)  { .wysiwyg blockquote p, .wysiwyg blockquote ul, .wysiwyg blockquote ol { font-size: calc(1.375rem + ((1vw - 0.3rem) * 0.4918)); }}
@media (min-width: 1701px) { .wysiwyg blockquote p, .wysiwyg blockquote ul, .wysiwyg blockquote ol { font-size: 1.75rem; }}

.wysiwyg blockquote:before {
	content: "“";
	position: absolute;
	top: 0; left: 0;
}

.wysiwyg blockquote > *:last-child:after {
	content: "”";
	display: inline-block;
	margin-left: 0.375rem;
}

.wysiwyg blockquote:before,
.wysiwyg blockquote > *:last-child:after {
	color: $color-red;
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-weight: bold;
}

@media (max-width: 479px)  { .wysiwyg blockquote:before, .wysiwyg blockquote > *:last-child:after { font-size: 1.375rem; }}
@media (min-width: 480px)  { .wysiwyg blockquote:before, .wysiwyg blockquote > *:last-child:after { font-size: calc(1.375rem + ((1vw - 0.3rem) * 0.4918)); }}
@media (min-width: 1701px) { .wysiwyg blockquote:before, .wysiwyg blockquote > *:last-child:after { font-size: 1.75rem; }}

/**** UNORDERED LIST STYLING ****/

.wysiwyg ul:not(.social) {
	list-style-type: none;
	padding: 0;
}

.wysiwyg ul:not(.social) li {
	display: block;
	line-height: 162.5%;
	padding: 0 0 0 2rem;
	position: relative;
}

.wysiwyg ul:not(.social) li + li {
	margin-top: 0.5rem;
}

.wysiwyg ul:not(.social) li:before {
	background-color: $color-red;
	border-radius: 50%;
	content: "";
	height: 0.438rem;
	left: 0.625rem;
	position: absolute;
	top: 0.688rem;
	width: 0.438rem;
}

.wysiwyg ul:not(.social) ol,
.wysiwyg ul:not(.social) ul { margin-top: 0.625rem; }


/**** ORDERED LIST STYLING ****/

.wysiwyg ol {
	counter-reset: count;
	list-style-type: none;
	padding: 0;
}

@for $i from 1 through 100 {
  .wysiwyg ol[start="#{$i}"] {
    counter-reset: count $i - 1 ;
  }
}

.wysiwyg ol li {
	counter-increment: count;
	display: block;
	line-height: 160%;
	padding: 0 0 0 2.5rem;
	position: relative;
}

.wysiwyg ol li + li {
	margin-top: 0.5rem;
}

.wysiwyg ol > li:before {
	color: $color-red;
	content: counter(count) ".";
	font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	font-weight: bold;
	font-style: normal;
	position: absolute;
	text-align: right;
	top: 0;
	right: calc(100% - 1.5rem);
}

.wysiwyg ol ul,
.wysiwyg ol ol { margin-top: 0.625rem; }
