/********** HERO **********/

@media (max-width: 479px)  { .example.hero { padding: 8rem 0 0 0; }}
@media (min-width: 480px)  { .example.hero { padding: calc(8rem + ((1vw - 0.3rem) * 10.4918)) 0 0 0; }}
@media (min-width: 1701px) { .example.hero { padding: 16rem 0 0 0; }}

.example.hero h1 + span strong {
	display: inline-block;
	padding-right: 1.5rem;
}

@media (max-width: 479px)  { .example.hero h1 + span strong { font-size: 1rem; }}
@media (min-width: 480px)  { .example.hero h1 + span strong { font-size: calc(1rem + ((1vw - 0.3rem) * 0.3279)); }}
@media (min-width: 1701px) { .example.hero h1 + span strong { font-size: 1.25rem; }}

@media (max-width: 479px)  { .example.hero time { font-size: 1rem; }}
@media (min-width: 480px)  { .example.hero time { font-size: calc(1rem + ((1vw - 0.3rem) * 0.3279)); }}
@media (min-width: 1701px) { .example.hero time { font-size: 1.25rem; }}

.example.hero g-row:first-child g-col {
	margin: 0 auto;
	max-width: 56rem;
}

.example.hero h1 { margin-top: 1.5rem; }

@media (max-width: 479px)  { .example.hero h1 { margin-bottom: 2.5rem; }}
@media (min-width: 480px)  { .example.hero h1 { margin-bottom: calc(0.5rem + ((1vw - 0.3rem) * 4.9180)); }}
@media (min-width: 1701px) { .example.hero h1 { margin-bottom: 4.25rem; }}

.example.hero g-col > figure {
	height: 0;
	padding-bottom: 56.25%;
}

@media (max-width: 479px)  { .example.hero ~ .flex:not(.np):not(.has-background):not(.other-posts) { padding: 3rem 0; }}
@media (min-width: 480px)  { .example.hero ~ .flex:not(.np):not(.has-background):not(.other-posts) { padding: calc(3rem + ((1vw - 0.3rem) * 3.9344)) 0; }}
@media (min-width: 1701px) { .example.hero ~ .flex:not(.np):not(.has-background):not(.other-posts) { padding: 6rem 0; }}

.example.hero figure { background: rgba(128, 128, 128, 0.12); }

.example.hero g-row:last-child { margin-top: 4rem; }