/********** HERO **********/

@media (max-width: 479px)  { .news.hero { padding: 8rem 0 0 0; }}
@media (min-width: 480px)  { .news.hero { padding: calc(8rem + ((1vw - 0.3rem) * 10.4918)) 0 0 0; }}
@media (min-width: 1701px) { .news.hero { padding: 16rem 0 0 0; }}

.news.hero h1 + span strong {
	display: inline-block;
	padding-right: 1.5rem;
}

@media (max-width: 479px)  { .news.hero h1 + span strong { font-size: 1rem; }}
@media (min-width: 480px)  { .news.hero h1 + span strong { font-size: calc(1rem + ((1vw - 0.3rem) * 0.3279)); }}
@media (min-width: 1701px) { .news.hero h1 + span strong { font-size: 1.25rem; }}

@media (max-width: 479px)  { .news.hero time { font-size: 1rem; }}
@media (min-width: 480px)  { .news.hero time { font-size: calc(1rem + ((1vw - 0.3rem) * 0.3279)); }}
@media (min-width: 1701px) { .news.hero time { font-size: 1.25rem; }}

.news.hero g-row:first-child g-col {
	margin: 0 auto;
	max-width: 56rem;
}

.news.hero h1 { margin-top: 1.5rem; }

@media (max-width: 479px)  { .news.hero h1 { margin-bottom: 2.5rem; }}
@media (min-width: 480px)  { .news.hero h1 { margin-bottom: calc(0.5rem + ((1vw - 0.3rem) * 4.9180)); }}
@media (min-width: 1701px) { .news.hero h1 { margin-bottom: 4.25rem; }}

.news.hero g-col > figure {
	height: 0;
	padding-bottom: 56.25%;
}

@media (max-width: 479px)  { .news.hero ~ .flex:not(.np):not(.has-background):not(.other-posts) { padding: 3rem 0; }}
@media (min-width: 480px)  { .news.hero ~ .flex:not(.np):not(.has-background):not(.other-posts) { padding: calc(3rem + ((1vw - 0.3rem) * 3.9344)) 0; }}
@media (min-width: 1701px) { .news.hero ~ .flex:not(.np):not(.has-background):not(.other-posts) { padding: 6rem 0; }}

.news.hero figure { background: rgba(128, 128, 128, 0.12); }

.news.hero g-row:last-child { margin-top: 4rem; }

/***** ARCHIVE *****/

.archive post-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.archive.other-posts post-list { margin-top: 2.5rem; }

.archive heading-wrap a {
	display: table;
	margin-top: 0.5rem;
}

/***** NEWS TILE *****/

a.post {
	display: block;
	margin-left: 2.5rem;
}

a.post h2 {
	transition: color 175ms ease;
}

a.post:hover h2 {
	color: $color-red !important;
}

@media (min-width: 860px) {
	a.post { width: calc( (100% - 5.01rem) / 3 ); }
	a.post:nth-child(3n+1) { margin-left: 0; }
	a.post:nth-child(3n) ~ a { margin-top: 3rem; }
}

@media (min-width: 590px) and (max-width: 859px) {
	a.post { width: calc( (100% - 2.51rem) / 2 ); }
	a.post:nth-child(2n+1) { margin-left: 0; }
	a.post:nth-child(2n) ~ a { margin-top: 3rem; }
}

@media (max-width: 589px) {
	a.post { margin-left: 0; width: 100%; }
	a.post ~ a { margin-top: 3rem !important; }
}

@media (max-width: 479px) {
	a.post ~ a { margin-top: 2rem; }
}

a.post figure {
	display: block;
	padding-bottom: 75%;
}

a.post figure img {
	transform: translate3d(-50%,-50%,0) scale(1);
	transition: transform 2s ease;
}

/*a.post:hover figure img {
	transform: translate3d(-50%,-50%,0) scale(1.1);
}*/


a.post h2 { margin-top: 1.75rem; }

@media (max-width: 479px)  { a.post h2 { font-size: 1.5rem; margin-top: 1.375rem }}
@media (min-width: 480px)  { a.post h2 { font-size: calc(1.5rem + ((1vw - 0.3rem) * 0.6557)); }}
@media (min-width: 1701px) { a.post h2 { font-size: 2rem; }}