.flex.gallery .slideshow {
	padding-bottom: 2.375rem;
}

.flex.gallery .slide {
	box-sizing: border-box;
	padding: 0 1rem;
	width: 42rem;
}

.flex.gallery figure {
	border-radius: 0.25rem;
	height: 0;
	padding-bottom: 62.5%;
}

.flex.gallery .slick-dots {
	justify-content: center;
	margin: 1.5rem 0 0 0;
	position: absolute;
	width: 100%;
}

.flex.gallery button.arrow { background: $color-red; }
.flex.gallery button.arrow svg { stroke: $color-white; }

.flex.gallery button.arrow:hover { background: $color-black; }
.flex.gallery button.arrow:hover svg { stroke: $color-white; }

@media (max-width: 479px)  { .flex.gallery button.arrow.prev { left: 3rem; }}
@media (min-width: 480px)  { .flex.gallery button.arrow.prev { left: calc(3rem + ((1vw - 0.3rem) * 1.3115)); }}
@media (min-width: 1701px) { .flex.gallery button.arrow.prev { left: 4rem; }}

@media (max-width: 479px)  { .flex.gallery button.arrow.next { right: 3rem; }}
@media (min-width: 480px)  { .flex.gallery button.arrow.next { right: calc(3rem + ((1vw - 0.3rem) * 1.3115)); }}
@media (min-width: 1701px) { .flex.gallery button.arrow.next { right: 4rem; }}


@media (max-width: 980px) {

	.flex.gallery button.arrow { background: $color-red; }
	.flex.gallery button.arrow svg { stroke: $color-white; }

	.flex.gallery button.arrow:hover { background: $color-black; }
	.flex.gallery button.arrow:hover svg { stroke: $color-white; }

	.flex.gallery .slide { padding: 0 1.5rem; width: 100vw; }

}