.flex.text-with-media g-row {
	align-items: flex-start;
}

.flex.text-with-media g-col {
	width: 50%;
}

.flex.text-with-media.left .media { order: 1; }
.flex.text-with-media.left .wysiwyg { order: 2; }

.flex.text-with-media.right .media { order: 2; }
.flex.text-with-media.right .wysiwyg { order: 1; }

.flex.text-with-media .btn { margin-top: 2.75rem; }

@media (max-width: 479px)  { .flex.text-with-media h1, .flex.text-with-media h2 { font-size: 2rem; }}
@media (min-width: 480px)  { .flex.text-with-media h1, .flex.text-with-media h2 { font-size: calc(2rem + ((1vw - 0.3rem) * 1.3115)); }}
@media (min-width: 1701px) { .flex.text-with-media h1, .flex.text-with-media h2 { font-size: 3rem; }}

@media (min-width: 960px) {
	.flex.text-with-media img { width: calc(100% - 2.5rem); }
	.flex.text-with-media.left img { margin: 0 auto 0 0; }
	.flex.text-with-media.right img { margin: 0 0 0 auto; }
}

@media (max-width: 959px) {
	.flex.text-with-media g-row { justify-content: center; }
	.flex.text-with-media g-col { max-width: 42rem; width: 100%; }	
	.flex.text-with-media .wysiwyg { margin-top: 2.5rem; }

	.flex.text-with-media .media { order: 1 !important; }
	.flex.text-with-media .wysiwyg { order: 2 !important; }
}